[submodule "external_libraries/stb"]
	path = external_libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "external_libraries/cnpy"]
	path = external_libraries/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "external_libraries/zlib"]
	path = external_libraries/zlib
	url = https://github.com/madler/zlib.git
[submodule "external_libraries/eigen"]
	path = external_libraries/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "external_libraries/glog"]
	path = external_libraries/glog
	url = https://github.com/google/glog
[submodule "external_libraries/tbb"]
	path = external_libraries/tbb
	url = https://github.com/01org/tbb
[submodule "external_libraries/tinyformat"]
	path = external_libraries/tinyformat
	url = https://github.com/c42f/tinyformat				
[submodule "external_libraries/openexr"]
	path = external_libraries/openexr
	url = https://github.com/openexr/openexr.git